<section id="features">
  <div class="container">
    <div class="image-area">
      <div class="image-wrapper">
        <img src="public/images/3d phones.png" alt="phones" />
      </div>
    </div>
    <div class="text-area">
      <div class="brand-text">
        <h1 class="brand-features">Fitur KelasQu</h1>
      </div>
      <div class="progress-area">
        <div class="progress-wrapper">
          <label for="">Absensi dan presensi</label>
          <div class="progress container-fluid">
            <div class="progress-bar">
              <div class="progress-width"></div>
            </div>
            <div class="progress-rating">
              <div class="stars"><i class="fa-solid fa-star"></i></div>
              <h3>5</h3>
            </div>
          </div>
        </div>
        <div class="progress-wrapper">
          <label for="">Modul, video pembelajaran, tugas, dll</label>
          <div class="progress container-fluid">
            <div class="progress-bar">
              <div class="progress-width"></div>
            </div>
            <div class="progress-rating">
              <div class="stars"><i class="fa-solid fa-star"></i></div>
              <h3>5</h3>
            </div>
          </div>
        </div>
        <div class="progress-wrapper">
          <label for="">Ruang ujian</label>
          <div class="progress container-fluid">
            <div class="progress-bar">
              <div class="progress-width"></div>
            </div>
            <div class="progress-rating">
              <div class="stars"><i class="fa-solid fa-star"></i></div>
              <h3>5</h3>
            </div>
          </div>
        </div>
        <div class="progress-wrapper">
          <label for="">Fleksibilitas</label>
          <div class="progress container-fluid">
            <div class="progress-bar">
              <div class="progress-width"></div>
            </div>
            <div class="progress-rating">
              <div class="stars"><i class="fa-solid fa-star"></i></div>
              <h3>5</h3>
            </div>
          </div>
        </div>
        <div class="progress-wrapper">
          <label for="">Mudah untuk diakses</label>
          <div class="progress container-fluid">
            <div class="progress-bar">
              <div class="progress-width"></div>
            </div>
            <div class="progress-rating">
              <div class="stars"><i class="fa-solid fa-star"></i></div>
              <h3>5</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
